*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.075em;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 73vw;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-image: url(../photo/1/jj-ying-7JX0-bfiuxQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.menu {
    color: #85689a;
    font-size: 4.5vh;
    padding-top: 17vh;
    margin-bottom: 5.7vh;
    white-space: nowrap;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__list-item + .menu__list-item {
    margin-left: 3.6vw;
}

.menu__list li:last-child {
    padding-left: 3.6vw;
}

.menu__link:hover {
    color: #280e3b;
}

.search-btn {
    position: relative;
}

.search-btn::before {
    content: "\f002";
    font-family: 'icomoon';
    width: 5vh;
    height: 5vh;
    position: absolute;
    left: -5vh;
}

.slider {
    height: 65.6vh;
    position: relative;
}

.slider__title {
    font-size: 7.6vh;
    color: #cdc16d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 3;
    letter-spacing: 0.2vw;
}

.date {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 4.3vh;
    line-height: 7vh;
    color: #85689a;
    padding: 5.7vh 2.1vw;
    margin: 9.8vh 5.5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.slider::before {
    font-family: 'icomoon';
    content: "\f053";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 7vh;
    color: #85689a;
}

.slider::after {
    font-family: 'icomoon';
    content: "\f054";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 7vh;
    color: #85689a;
}




.date__right,
.date__left {
    display: flex;
    flex-direction: column;
}

.date__right {
    text-align: right;
}

.current__exhibition {
    width: 27vw;
    height: 65.8vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}

.main-btn {
    padding: 1.2vh 6.8vw 1.2vh 1.6vw;
    background-color: #85689a;
    font-size: 2.7vh;
    line-height: 1.2em;
    color: #fff;
    position: relative;
}

.more-btn {
    position: relative;
    left: 39%;
    top: 3.5vh;
}

.main-btn::after {
    content: "\f178";
    font-family: 'icomoon';
    position: absolute;
    font-size: 5vh;
    right: 1.3vw;
    top: 50%;
    transform: translateY(-50%)
}

.main-btn:hover {
    color: #000;
}

.upcoming-exhibition {
    height: 100vh;
    background-color: #a1a1a1;
    padding: 0 6.8vw;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.upcoming__title {
    font-size: 8.8vh;
    padding-top: 9.5vh;
}

.upcoming-exhibition h3 {
    font-size: 8.8vh;
    padding-top: 9.6vh;
}

.date-exhibition {
    font-size: 5.9vh;
    line-height: 12.6vh;
    padding: 4.7vh 0 5vh;
}

.exhibition-info {
    font-size: 4.6vh;
    line-height: 7.5vh;
}

.last-p {
    margin-bottom: 5vh;
}

.buy-btn {
    position: relative;
}

.statue-img img {
    right: 0;
    bottom: -100vh;
    position: absolute;
    height: 120vh;
    z-index: 3;
}


.round {
    content: "";
    position: absolute;
    width: 90vh;
    height: 90vh;
    border-radius: 50%;
    background-color: #85689a;
    right: -10vh;
    top: 5vh;
    z-index: -1;
}
/*зигзаг*/
.upcoming-exhibition::after {
    content: "";
    position: absolute;
    background-image: url(../photo/2/zig-zag.png);
    height: 12.9vh;
    width: 19.8vw;
    top: 65%;
    right: 27%;
    background-size: cover;
}

.highlights {
    height: 100vh;
    padding: 5vh 3.8vw;
    position: relative;
}

.highlights__box {
    border: 0.76vh solid #85689a;
    height: 90vh;
    padding: 7.4vh 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
}

.highlights__box-image {
    width: 17.7vw;
    height: 34.3vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.highlights__link::before {
    content: "\f178";
    text-align: center;
    padding-top: 0.7vh;
    font-family: 'icomoon';
    height: 4.4vh;
    width: 4.4vh;
    position: absolute;
    background-color: #85689a;
    bottom: .8vh;
    right: -0.8vw;
}

.highlights__box::before,
.highlights__box::after {
    font-family: 'icomoon';
    font-size: 7vh;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #565a84;
}


.highlights__box::before {
    content: "\f104";
    left: 7vw;
}

.highlights__box::after {
    content: "\f105";
    right: 7vw;
}

.view-more-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.8vh;
    border: 5px solid #fff;
}

.highlights__title-left,
.highlights__title-right {
    font-size: 5.6vh;
    line-height: 8.6vh;
    letter-spacing: 1px;
    color: #85689a;
    display: inline-block;
    position: absolute;
    background-color: #fff;
    z-index: 3;
    padding: 0 2vh;
    top: 50%;
    transform: translateY(-50%);
}

.highlights__title-left {
    transform: rotate(-90deg);
    left: -9vw;
}

.highlights__title-right {
    transform: rotate(90deg);
    right: -9vw;
}

.program {
    height: 100vh;
    background-image: url(../photo/4/bg-image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.program__container {
    max-width: 78vw;
    padding: 0 2.5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 19.5vh;
    padding-bottom: 19.5vh;
}

.program__text-box {
    padding-top: 10vh;
}

.program__list {
    font-size: 4.3vh;
    line-height: 9.3vh;
    letter-spacing: 0.3vw;
}

.program__list-item + .program__list-item {
    margin-top: 2vh;
}

.program__list-link:hover {
    border-bottom: .9vh solid #473753;
}

.program__img-box {
    padding-top: 2vh;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.program__img {
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    margin-left: .875vw;
    background-size: cover;
    position: relative;
}

/*фиолетовый полупрозрачный слой*/
.program__img::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 13vw;
    height: 13vw;
    background-color: #6c547f;
    opacity: 0.8;
    z-index: 1;
    mix-blend-mode: hard-light;

}

.program__img:hover::before {
    opacity: 0;
}

/*три точки*/
.program__img::after {
    content: "\f142";
    font-family: 'icomoon';
    font-size: 4vh;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .7vw;
    z-index: 3;

}

.learn-more-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
}

.footer {
    background-image: url(../photo/5/back-3.png);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 71.9vw;
    padding: 0 10px;
}

.footer__eye {
    position: relative;
    height: 25vh;
    width: 15vw;
    margin: 0 auto;
}

.footer__eye img {
    position: absolute;
    margin: 0 auto;
    height: 25vh;
    width: auto;
}

@keyframes is-open {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes is-closed{
   80% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.is-open{
    animation-name: is-open;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: step-start;  
    animation-iteration-count: infinite;    
}

.is-closed {
    animation-name: is-closed;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

.footer__media {
    display: flex;
    color: #85689a;
    font-size: 3.9vh;
    justify-content: space-between;
    max-width: 52vw;
    margin: 0 auto;
    margin-bottom: 6vh;
}

.footer__media-item + .footer__media-item {
    margin-left: 10px;
}

.user-form {
    display: flex;
    justify-content: space-between;
    max-width: 57vw;
    margin: 0 auto;
    font-size: 2.8vh;
    margin-bottom: 6.5vh;
}

.sign-up-btn {
    color: #85689a;
    font-size: 2.7vh;
    line-height: 3.24vh;
    border: 3px solid #85689a;
    padding: 1.4vh 6.25vw;
}

.subscribe-btn {
    line-height: 1.55em;
}

.schedule {
    color: #85689a;
    width: 100%;
    display: flex;
    text-align: center;
    line-height: 1.5em;
    font-size: 3.3vh;
}

.schedule__left,
.schedule__right {
    width: 50%;
}

/*отступ снизу*/
.schedule__left p,
.schedule__right p:first-child {
    margin-bottom: 5.6vh;
}

.menu__bottom {
    padding-top: 0;
}
